<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="internet.yxd.sync">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".case1_have_nohave_sync.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".case2_2sync_method.Case2Activity" />
        <activity android:name=".case3_static_sync.Case3Activity" />
        <activity android:name=".case4_sync_block.Case4Activity" />
        <activity android:name=".case5_block_lock_this.Case5Activity" />
        <activity android:name=".case6_block_lock_class.Case6Activity" />
        <activity android:name=".case7_block_lock_object.Case7Activity"></activity>
        <activity android:name=".case8_lock.Case8Activity">

        </activity>
        <activity android:name=".case9_rwlock.Case9Activity">

        </activity>
    </application>

</manifest>